* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5; 
    background-image: url('bgm.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 20%; /* Moves the background image down */
}

.profile-container {
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px;
    margin: 10px auto;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 20px;
    max-width: 700px;
}

.profile-container img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-right: 20px;
}

.profile-details {
    max-width: 500px;
}

.profile-details h1,
.profile-details p,
.profile-details h3 {
    margin: 5px 0;
}
